<div class="scanner">
    <video id="video"></video>
    
    <div class="toolbar">

        <a href="#" id="flash"><i class="bi bi-lightbulb-fill"></i></a>
        <select id="sources"></select>
        <div id="status">Scan QR code</div>
        <a href="#" id="close"><i class="bi bi-x-square-fill"></i></a>
        
    </div>
</div>

