<div class="jumbotron welcome">
  <h1 class="display-4">Welcome</h1>
  <p class="lead">InstaSEPA is a simple app that allows you to save and generate SEPA payment forms. To add your first form, you can scan it if you have a camera or enter it manually.</p>
  <hr class="my-4">
  <p>To learn more about the project or to submit an issue, check the <a href="https://github.com/lukacu/instasepa">Github project page</a>.</p>
</div>
